main {
    display: grid;
    margin-inline-start: 20rem;
    padding-block-start: 4rem;
    padding-inline: 1.5rem;
    gap: 8rem;
}


section,
article {
    display: grid;
    justify-items: center;
    width: 100%;
    margin-inline: auto;
}

.section__heading {
    margin: 0 auto 2rem;
    max-width: 50rem;
    width: 100%;

    h2 {
        font: 700 2.5rem/1.25 var(--font-hero);
        color: var(--text-body-primary);
    }

h3 {
        font: 700 1.25rem/1.375 var(--font-title);
        margin-block-end: .5rem;
    }
    
    p {
        font: 300 1.125rem/1.5 var(--font-body);
        color: var(--text-body-secondary);
        margin-block-start: 1.25em;

        &:first-of-type {
            margin-block-start: 0;
        }
    }
}


.section--primary {
    max-width: 70rem;
    margin-inline: auto;
}


.section--secondary {
    margin-block-start: 4rem;
    max-width: 70rem;
}

.section__body {
    display: grid;
    width: 100%;
    margin-inline: auto;

    &.sm { max-width: 50rem; }
    &.md { max-width: 60rem; }
    &.lg { max-width: 70rem; }
}

.rewind {
    display: grid;
    place-items: center;
    height: 100dvh;

    a {
        position: relative;
        color: var(--text-body-primary);
        text-decoration: none;
        font-weight: 400;

        &::after {
            content: '';
            position: absolute;
            inset: 100% 0 auto;
            border-bottom: 2px solid var(--divider);
            transition: 200ms all;
        }

        &:hover {
            text-decoration: none;
            color: var(--brand);

            &::after {
                inset: 100% 100% auto 0;
            }
        }
    }
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: 5;
    -webkit-backdrop-filter: blur(8px);
       -moz-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    background: rgb(15 15 15 / 95%);
    opacity: 0;
    visibility: hidden;
    transition: 400ms all;
    overflow: none;

    aside.active ~ &,
    article.is-open ~ & {
        opacity: 1;
        visibility: visible;
    }
}

.display--mobile {
    display: none;
}

.nowrap {
    white-space: nowrap;
}

html:has(dialog[open]) {
    overflow-y: hidden;
}

@media screen and (max-width: 960px) {

    html {
        scroll-padding-block-start: 6rem;
    }

    main {
        margin: 0;
        padding-block-start: 6rem;
    }
}

@media screen and (max-width: 640px) {

    .section__heading {
        h2 {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }
    }

    main {
        gap: 3rem;
    }
    
}



@media screen and (max-width: 430px) {

.display--mobile {
    display: block;
}

.section--secondary {
    margin-block-start: 2rem;
}

.section__heading {
    h3 {
        font-size: 1.125rem;
    }
}

h5 {
    font-size: .875rem;
}

}