html,
body {
    font-family: var(--font-body);
    background: var(--page-bg);
    overflow-x: hidden;
}

html {
    font-family: var(--font-body);
    font-weight: 400;
    color: var(--text-body-primary);
    min-height: 100vh;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    padding-block-start: 5rem;
}

::selection {
    background: hotpink;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    background: none;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: var(--font-title);
    font-weight: 700;
}

h5 {
    margin-block-end: .75rem;
    font-size: 1rem;
}