html,
body {
    font-family: var(--font-body);
    background: var(--page-bg);
    overflow-x: hidden;
}

html {
    font-family: var(--font-body);
    font-weight: 400;
    color: var(--text-body-primary);
    min-height: 100.1vh;
    scroll-behavior: smooth;
    text-wrap: pretty;
    scroll-padding-top: 4rem;
    scrollbar-width: none;

    &.noscroll {
        overflow: hidden;
    }
}

::selection {
    background: var(--brand);
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: var(--font-title);
    font-weight: 700;
}

h5 {
    margin-block-end: .75rem;
    font-size: 1rem;
}