:root {

--color-greyscale-100: #F3F5F7;
--color-greyscale-200: #D9DBDE;
--color-greyscale-300: #BFC2C4;
--color-greyscale-400: #A5A8AB;
--color-greyscale-500: #8C8E91;
--color-greyscale-600: #6f7073;
--color-greyscale-700: #585B5E;
--color-greyscale-800: #3E4145;
--color-greyscale-900: #24272B;
--white: #FFFFFF;

--brand: #219EBC;

--page-bg: var(--white);
--masthead-bg: rgb(255 255 255 /  75%);
--quote-bg: rgb( 0 0 0 / 5%);

--text-body-primary:  var(--color-greyscale-900);
--text-body-secondary: var(--color-greyscale-600);

--input-border: var(--color-greyscale-200);
--divider: var(--color-greyscale-200);

}



@media (prefers-color-scheme: dark) {

:root {

--page-bg: var(--color-greyscale-900);
--quote-bg: rgb(0 0 0 / 10%);
--masthead-bg: rgb(36 39 43 / 75%);

--text-body-primary: var(--color-greyscale-100);
--text-body-secondary: var(--color-greyscale-500);

--divider: color-mix(in lch, var(--color-greyscale-700), black 25%);

--input-border: var(--color-greyscale-700);

}

.pro-bono img {

    &:first-of-type {
        display: none;
    }

    &:last-of-type {
        display: block;
    }
}


.toggle-theme {

    --page-bg: var(--white);
    --masthead-bg: rgb(255 255 255 /  75%);
    --quote-bg: rgb( 0 0 0 / 5%);
    
    --text-body-primary:  var(--color-greyscale-900);
    --text-body-secondary: var(--color-greyscale-600);
    
    --input-border: var(--color-greyscale-200);
    --divider: var(--color-greyscale-200);
    
    .pro-bono img {
    
        &:first-of-type {
            display: block;
        }
    
        &:last-of-type {
            display: none;
        }
    }
}

} // End Media Query



@media not (prefers-color-scheme: dark) {

.toggle-theme {

    --page-bg: var(--color-greyscale-900);
    --quote-bg: rgb(0 0 0 / 10%);
    --masthead-bg: rgb(36 39 43 / 75%);
    
    --text-body-primary: var(--color-greyscale-100);
    --text-body-secondary: var(--color-greyscale-500);
    
    --divider: color-mix(in lch, var(--color-greyscale-700), black 25%);
    
    --input-border: var(--color-greyscale-700);
    
    .pro-bono img {
    
        &:first-of-type {
            display: none;
        }
    
        &:last-of-type {
            display: block;
        }
    }
}

}