:root {

--color-greyscale-100: #F3F5F7;
--color-greyscale-200: #D9DBDE;
--color-greyscale-300: #BFC2C4;
--color-greyscale-400: #A5A8AB;
--color-greyscale-500: #8C8E91;
--color-greyscale-600: #6f7073;
--color-greyscale-700: #585B5E;
--color-greyscale-800: #3E4145;
--color-greyscale-900: #24272B;
--white: #FFFFFF;

--brand: #219EBC;

--page-bg: var(--white);
--masthead-bg: rgb(255 255 255 /  98%);
--quote-bg: rgb( 0 0 0 / 5%);

--text-body-primary:  var(--color-greyscale-900);
--text-body-secondary: var(--color-greyscale-600);

--input-border: var(--color-greyscale-200);
--divider: var(--color-greyscale-200);

}