.collaborations {

    .section__body {
        gap: 2rem;
    }
}

.checklist {
    li {
        position: relative;
        margin-block-end: .5rem;
        padding-inline-start: 2rem;

        &::before {
            content: '';
            position: absolute;
            inset: 0 auto 0 0;
            width: 1.25rem;
            height: 1.25rem;
            border: 1px solid #8C8E91;
            border-radius: 2px;
            margin-inline-end: .5rem;
            font-family: var(--font-icon);
            color: #32CD32;
            font-size: 80%;
            text-align: center;
        }

        span {
            padding-inline-start: .3em;
            color: var(--text-body-secondary);
        }
    }

    a {
        position: relative;
        top: -.2em;
        color: var(--text-body-primary);
        text-underline-offset: .25em;
        text-decoration-color: #BFC2C4;

        &:hover {
            text-decoration: none;
        }
    }

    sup {
        font-style: italic;
        color: var(--text-body-secondary);
        font-size: 60%;
        padding-inline-start: .25em;
    }
}

.checklist__citation {
    display: grid;
    gap: .25em;
    font-size: .75rem;
    margin-block-start: 1.5rem;
    color: #7c7c7c;
}

.columns--2 {
    columns: 2 240px;
}

.completed li::before {
    content: '\f00c';
}

@media screen and (max-width: 640px) {
    
.columns--2 {
    columns: 1;
}

}







.pro-bono {
    .section__body {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    figure {
        margin-block: auto;
    }

    img {
        width: 300px;
    }
}

.list--awards {
    display: grid;
    gap: 2rem;
}

.award__item {
    position: relative;
    width: 100%;
    min-height: 75px;
    border: 1px solid var(--divider);
    border-radius: 4px;
    display: grid;
    gap: .25rem;
    padding-block: 1.5rem 1rem;
    padding-inline: 3rem;
    transition: 200ms border-color;
    text-align: center;
    text-decoration: none;

    &:hover {
        border-color: var(--text-body-primary);
    }

    span {
        position: absolute;
        inset: auto 4rem calc(100% - 1rem);
        background: var(--text-body-primary);
        color: var(--white);
        letter-spacing: .1em;
        display: grid;
        place-items: center;
        border-radius: 2rem;
        border: 4px solid var(--page-bg);
        text-transform: uppercase;
        height: 2rem;
        font-size: .75rem;

        &.pc {
            background: var(--brand);
        }
    }

    h6 {
        margin: 0;
        font: 700 1rem/1 var(--font-title);
        color: var(--text-body-primary);
    }
    
    small {
        font: 400 .75rem/1 var(--font-body);
        color: var(--text-body-secondary);
    }


}