.contact__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem 1rem;
    margin-block-end: 2rem;

    .full {
        grid-column: 1 / -1;
    }
}

.form__item {
    position: relative;

    label {
        position: absolute;
        display: flex;
        align-items: center;
        gap: .3em;
        inset: -.5rem auto auto .5rem;
        height: 1rem;
        padding-inline: .75rem;
        font: 500 .875rem/1 var(--font-body);
        background: var(--page-bg);
        border-radius: 1rem;
        color: var(--text-body-secondary);
        
        sup {
            color: tomato;
        }
    }
}


input,
textarea {
    height: 3rem;
    box-shadow: inset 0 0 0 1px var(--divider);
    border-radius: 4px;
    width: 100%;
    padding-inline: 1.25rem;
    background: var(--page-bg);
    border: 1px solid var(--input-border);
    box-shadow: inset 0 0 0 50vw var(--page-bg); // This is here to prevent auto-complete from changing the color of the input background
    -webkit-text-fill-color: var(--text-body-primary);
    caret-color: var(--text-body-primary);
    transition: 200ms all;

    &:focus {
        border-color: var(--brand);
        box-shadow: inset 0 0 0 50vw var(--page-bg);
        outline: none;
    }
}

textarea {
    padding-block: 1.25rem;
    resize: vertical;
}

.contact__button {
    height: 3rem;
    padding-inline: 3rem;
    border-radius: .5rem;
    border: none;
    background: var(--brand);
    color: var(--white);
    transition: 200ms background;
    white-space: nowrap;

    &:hover {
        background: color-mix(in lch, var(--brand), black 20%);
        cursor: pointer;
    }

    &:focus-visible {
        border: 2px solid var(--brand);
        box-shadow: inset 0 0 0 1px var(--white);
    }
}

.contact__footer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact__social {
    position: relative;
    top: -.75rem;
    text-align: right;
    margin-inline-start: auto;

    span {
        inset: auto 0 100% auto;
        font-size: .75rem;
        text-align: right;
        text-wrap: pretty;
        color: var(--text-body-secondary);
    }
}

.nav--social {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: .75rem;
    margin-block-start: .5rem;
}

.social__item {
    position: relative;
    color: var(--text-body-secondary);
    transition: 200ms color ease;
    text-decoration: none;

    &:focus-visible {
        outline: none;

        small {
            opacity: 1;
            visibility: visible;
            inset: auto auto 100% 50%
        }
    }

    i {
        display: grid;
        place-items: center;
        width: 2rem;
        aspect-ratio: 1;
        font-size: 2rem;

        &:hover {
            color: color-mix(in lch, var(--text-body-primary), black 20%);
            
            & + small {
                opacity: 1;
                visibility: visible;
                inset: auto auto 100% 50%
            }
        }
    }

    small {
        position: absolute;
        inset: auto auto calc(100% - .25rem) 50%;
        isolation: isolate;
        translate: -50% 0;
        opacity: 0;
        visibility: hidden;
        padding-block: .5rem;
        padding-inline: 1rem;
        background: var(--tooltip-bg);
        border-radius: 4px;
        color: var(--white);
        transition: 200ms all 100ms;
    
        &::after {
            content: '';
            position: absolute;
            inset: calc(100% - .75rem) auto auto 50%;
            z-index: -1;
            translate: -50% 0;
            display: block;
            width: 1rem;
            aspect-ratio: 1;
            rotate: 45deg;
            background: var(--tooltip-bg);
            border-radius: 4px;
        }
    }
}

.contact__email {
    margin-block-start: 2rem;
    font-weight: 300;
    font-size: 1rem;

    a {
        color: var(--text-body-primary);
        font-weight: 400;

        &:hover {
            text-decoration: none;
        }
    }
}