.tldr {
    gap: 1.5rem;
}

.tldr__group {
    display: grid;
    gap: .5rem;
    width: 100%;
}


.list--tldr {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    list-style: none;
}


.tldr__item {
    display: flex;
    align-items: center;
    font: 300 .875rem/1 var(--font-body);
    color: var(--text-body-primary);
    background: var(--quote-bg);
    padding-inline: 1rem;
    border-radius: 1rem;
    height: 1.5rem;
}