.masthead {
    position: fixed;
    inset: 1rem 1rem auto;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding-inline: 1.5rem;
    border-radius: .5rem;
    background: var(--masthead-bg);
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 8px -4px rgb(0 0 0 / 20%);
    opacity: 0;
    visibility: hidden;
    transition: 600ms all;

    .btn--icon {
        color: var(--color-greyscale-900);
    }

    a {
        color: var(--color-greyscale-700);
        text-decoration-color: var(--color-greyscale-400);
        text-underline-offset: .25rem;
    }

    &.is-hidden:not(.scroll-up) {
        translate: 0 -6rem;
    }
}

@media screen and (max-width: 960px) {
    
.masthead {
    opacity: 1;
    visibility: visible;
}

}