.list--proficiencies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: .5rem;
    padding: 0;
}

.proficiency__item {
    display: flex;
    flex-flow: column nowrap;
    padding: 4.5rem 2rem;
    gap: 1rem;
    border: 1px solid var(--divider);
    border-radius: .25rem;
    box-shadow: 0 8px 8px -8px rgb(0 0 0 / 10%);

    i {
        margin-block-end: 1rem;
        color: var(--brand);
        height: 4rem;
        aspect-ratio: 1;
        justify-self: center;
    }

    h4 {
        font: 800 1.25rem/1.375 var(--font-title);
    }

    p {
        font: 300 1rem/1.6 var(--font-body);
        text-wrap: pretty;
    }
}


@media screen and (max-width: 640px) {

.proficiencies {
    position: relative;
    width: calc(100% + 3rem);
    margin-inline-start: -1.5rem;
    overflow-x: scroll;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline-start: 1.5rem;

    &::-webkit-scrollbar {
        display: none;
    }
}

.arrow {
    position: absolute;
    animation: arrow linear;
    animation-timeline: scroll();
}

.list--proficiencies {
    display: flex;
    flex-flow: row nowrap;
    padding-inline-start: 1.5rem;
    margin-inline-end: 1.5rem;
}

.proficiency__item {
    width: calc(100vw - 3rem);
    max-width: 358px;
    scroll-snap-align: start;
}

}

@keyframes arrow {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}