.list--proficiencies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: .5rem;
    padding: 0;
}

.proficiency__item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 4.5rem 2rem;
    gap: 1rem;
    border: 1px solid var(--divider);
    border-radius: .25rem;
    box-shadow: 0 8px 12px -8px rgb(0 0 0 / 20%);

    i {
        margin-block-end: 1rem;
        color: var(--brand);
        height: 4rem;
        aspect-ratio: 1;
    }

    h4 {
        font: 800 1.25rem/1.375 var(--font-title);
    }

    p {
        font: 300 1rem/1.6 var(--font-body);
        text-wrap: pretty;
    }
}


@media screen and (max-width: 640px) {

.proficiencies {
    width: calc(100% + 3rem);
    margin-inline-start: -1.5rem;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline-start: 1.5rem;

    &::-webkit-scrollbar {
        width: 100%;
    }

    &::-webkit-scrollbar-track {
        background: var(--divider);
        border-top: .75rem solid var(--page-bg);
        margin-inline: 1.5rem;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--brand);
        border-top: .75rem solid var(--page-bg);
    }
}

.list--proficiencies {
    display: flex;
    flex-flow: row nowrap;
    padding-inline-start: 1.5rem;
    margin-inline-end: 1.5rem;
}

.proficiency__item {
    width: calc(100vw - 3rem);
    max-width: 398px;
    scroll-snap-align: start;
}

}