.nav--social {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: .75rem;
    flex: 1 0;
    margin-block-start: 1rem;
}

.social__heading {
    position: absolute;
    inset: auto 0 calc(100% + .5rem) auto;
    font-size: .875rem;
    text-align: right;
    color: var(--text-body-secondary);

    h3,
    p {
        display: inline;
        font: 400 .875rem/1 var(--font-body);
    }

    h3 {
        padding-inline-end: .3em;
    }
}

.social__item {
    position: relative;
    color: var(--text-body-secondary);
    transition: 200ms color ease;
    text-decoration: none;

    &:focus-visible {
        outline: none;

        small {
            opacity: 1;
            visibility: visible;
            inset: auto auto 100% 50%
        }
    }

    i {
        font-size: 2rem;

        &:hover {
            color: color-mix(in lch, var(--text-body-primary), black 20%);
            
            & + small {
                opacity: 1;
                visibility: visible;
                inset: auto auto 100% 50%
            }
        }
    }

    small {

        --tooltip-bg: rgb(0 0 0);

        position: absolute;
        inset: auto auto calc(100% - .25rem) 50%;
        isolation: isolate;
        translate: -50% 0;
        opacity: 0;
        visibility: hidden;
        padding-block: .5rem;
        padding-inline: 1rem;
        background: var(--tooltip-bg);
        border-radius: .25rem;
        color: var(--white);
        transition: 200ms all 100ms;
    
        &::after {
            content: '';
            position: absolute;
            inset: calc(100% - .75rem) auto auto 50%;
            z-index: -1;
            translate: -50% 0;
            display: block;
            width: 1rem;
            aspect-ratio: 1;
            rotate: 45deg;
            background: var(--tooltip-bg);
            border-radius: 4px;
        }
    }
}

.social__item:hover {
    .fa-facebook  { color: #3B5998; }
    .fa-instagram { color: #C32AA3; }
    .fa-steam     { color: #171A21; }
    .fa-linkedin  { color: #0A66C2; }
    .fa-discord   { color: #5865f2; }
    .fa-lastfm    { color: #BA0000; }
    .fa-dribbble  { color: #EA4C89; }
    .fa-github    { color: #222222; }
    .fa-figma     { color: #1ABCFE; }
    .fa-spotify   { color: #1DB954; }
    .fa-gitlab    { color: #E24329; }
}



@media screen and (max-width: 640px) {

.nav--social {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .25rem;
    margin: 0;
}

.social__heading {
    position: static;
    grid-column: 1 / -1;
    margin-block-end: .5rem;
    text-align: left;

    h3 {
        font: 700 1.25rem/1.375 var(--font-title);
        color: var(--text-body-primary);
        display: block;
    }

    p {
        font: 300 1rem/1.5 var(--font-body);
    }
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    border: 1px solid var(--divider);
    border-radius: .125rem;

    small {
        display: none;
    }
}

}