.list--proficiencies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
    gap: .5rem;
    padding: 0;
}

.proficiency__item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 4.5rem 2rem;
    gap: 1rem;
    border: 1px solid var(--divider);
    border-radius: .25rem;
    box-shadow: 0 8px 12px -8px rgb(0 0 0 / 20%);

    i {
        margin-block-end: 1rem;
        color: var(--brand);
        height: 4rem;
        aspect-ratio: 1;
    }

    h4 {
        font: 800 1.5rem/1.375 var(--font-title);
    }

    p {
        font: 300 1rem/1.6 var(--font-body);
        text-wrap: pretty;
    }
}

// @media screen and (max-width: 430px) {

// .list--proficiencies {
//     display: flex;
//     flex-flow: row nowrap;
//     width: calc(100vw);
//     overflow-x: scroll;
//     margin-inline: -1.5rem;
//     padding-inline-start: 1.5rem;

//     .proficiency__item {
//         min-width: calc(100vw - 3rem);
//         scroll-snap-align: start;
//     }
// }

// }


@media screen and (max-width: 430px) {

.proficiencies {
    padding: 0;

    > header,
    .section--secondary {
        padding-inline: 1.5rem;
    }

    .section__body {
        width: 100%;
        overflow-x: auto;
        scroll-snap-type: inline mandatory;
        scroll-padding-inline-start: 1.5rem;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.list--proficiencies {
    display: flex;
    padding-inline-start: 1.5rem;

    .proficiency__item {
        width: calc(100vw - 3rem);
        scroll-snap-align: start;

        &:last-of-type {
            margin-inline-end: 1.5rem;
        }
    }
}

}