figure {
    display: grid;
    gap: .5rem;

    img {
        border-radius: .5rem;
    }
    
    figcaption {
        font: 300 .875rem/1.6 var(--font-body);
        color: var(--text-body-secondary);
        max-width: 50rem;
        width: 100%;
        margin-inline: auto;
    }
}

.paragraph--ammended {
    max-width: 50rem;
    font: 300 1.125rem/1.5 var(--font-body);
    color: var(--text-body-secondary);
    padding-block-start: 2rem;
}

@media screen and (max-width: 430px) {

main {
    padding-block-start: 0;
}

.about {
    
    > .section__heading {
        position: relative;
        z-index: 2;
        width: calc(100vw - 1.5rem);
        margin: -20svh auto 0 -1.5rem;
        padding-block: 3rem 0;
        padding-inline: 1.5rem;
        -webkit-backdrop-filter: blur(.5rem);
           -moz-backdrop-filter: blur(.5rem);
                backdrop-filter: blur(.5rem);
        background: var(--page-bg);
        box-shadow: 6px -8px 8px -8px rgb(0 0 0 / 10%);
    }

    figure {
        position: relative;
        order: -1;
        isolation: isolate;
        margin-inline: -1.5rem;

        &::before,
        &::after {
            content: '';
            position: absolute;
            inset: 0;
        }

        &::before {
            background: #003755;
            mix-blend-mode: plus-lighter;
            opacity: 1;
            z-index: 2;
        }

        &::after {
            background: linear-gradient(to top, rgb(0 0 0) 40%, rgb(0 0 0 / 25%) 125%);
            opacity: .7;
        }

        img {
            border-radius: 0;
            height: 90svh;
            max-height: 800px;
            object-fit: cover;
        }

        figcaption {
            position: absolute;
            inset: auto 0 calc(20svh + 1rem);
            width: 100%;
            padding-inline: 1.5rem;
            text-wrap: pretty;
            z-index: 2;
            color: var(--white);
            font-weight: 400;
        }
    }
}

}