figure {
    display: grid;
    gap: 1rem;

    img {
        border-radius: .5rem;
        // box-shadow: 0 0 0 .5rem color-mix(in lch, var(--page-bg), black 20%);
    }
    
    figcaption {
        font: 300 .875rem var(--font-body);
        color: var(--text-body-secondary);
        max-width: 50rem;
        width: 100%;
        margin-inline: auto;
    }
}



.qa {

    --qa-border: var(--divider);
    --qa-border-active: var(--brand);

    display: grid;
    gap: .5rem;
    width: 100%;
}


.qa__item {
    display: grid;
    grid-template-rows: auto 0fr;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--qa-border);
    padding: .5rem 1rem;
    transition: 250ms grid-template-rows,
                250ms border-color;

    &:hover {
        border-color: var(--brand);
    }

    &.expanded {
        grid-template-rows: auto 1fr;
        border-color: var(--qa-border-active);

        dt::after {
            // content: '\f068';
            rotate: -45deg;
        }
    }

    dt {
        position: relative;
        font: 600 1rem/1.5 var(--font-title);
        padding-inline-end: 2rem;

        &::after {
            content: '\2b';
            position: absolute;
            inset: .3125em 0 auto auto;
            display: grid;
            place-items: center;
            color: var(--brand);
            font: 300 1rem/1 var(--font-icon);
            transition: 200ms rotate linear;
        }
    
        &:hover {
            cursor: pointer;
        }
    }

    dd {
        overflow: hidden;
    }

    p {
        padding-block: .5rem;
        color: var(--text-body-secondary);
        font: 400 .875rem/1.6 var(--font-body);
    }
}