aside {

    --nav-primary-color: var(--text-body-primary);
    --nav-secondary-color: var(--text-body-secondary);
    --nav-border: var(--divider);

    --nav-primary-font: 800 1rem/1.5 var(--font-title);
    --nav-secondary-font: 300 .875rem/1.375 var(--font-title);
    --nav-legal-font: 300 0.8125rem/1.375 var(--font-body);

    position: fixed;
    inset: 0 auto 0 0;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: end;
    gap: 1rem;
    width: 20rem;
    padding: 12rem 3rem 4rem;
    background: white;
    text-align: right;
    background: var(--page-bg);
    transition: 400ms translate;

    &::after {
        content: '';
        position: absolute;
        inset: 4rem 0 4rem auto;
        border-right: 1px solid var(--divider);
    }

    .mark {
        width: 4rem;
        fill: var(--brand);
    }

    nav {
        display: flex;
        flex-flow: column;
        align-items: end;
    
        a {
            text-decoration: none;
        }
    }
}

h1 {
    color: var(--text-body-primary);
    font: 700 2rem/1.125 var(--font-hero);

    a {
        color: var(--text-body-primary);
        text-decoration: none;
    
        &:focus-visible {
            color: var(--brand);
            outline: 0;
        }
    }

    small {
        display: block;
        color: var(--text-body-secondary);
        font: 400 .875rem/1 var(--font-body);
    }
}


.nav--primary {
    gap: 1rem;
    margin-block: 1rem;
    
    .primary__item {
        position: relative;
        text-decoration: none;
        color: var(--nav-primary-color);
        font: var(--nav-primary-font);
        text-align: right;
        width: fit-content;

        &::after {
            content: '';
            position: absolute;
            inset: 100% 0 auto 100%;
            border-bottom: 2px solid var(--brand);
            transition: 200ms inset;
        }

        &:hover,
        &:focus-visible {
            outline: none;

            &::after {
                inset: 100% 0 auto;
            }
        }
    }
}


.nav--work {
    gap: .5rem;
    border-right: 1px solid var(--divider);
    margin-block-start: 1rem;

    .work__item {
        padding-inline-end: 1rem;
        color: var(--text-body-secondary);
        font: var(--nav-secondary-font);
        border-right: 0 solid var(--brand);
        transition: 100ms border-width;

        &:hover,
        &:focus-visible {
            border-width: 0 .25rem 0 0;
            color: var(--brand);
            outline: none;
        }
    }
}

.legal {
    margin-block-start: auto;
    font: var(--nav-legal-font);
    color: var(--text-body-secondary);

    p:not(:first-of-type) {
        margin-block-start: 1rem;

        i {
            color: var(--divider);
            padding-inline: .75em;

            &:hover,
            &:focus {
                color: lightpink;
            }
        }
    }
}

.theme-toggle  {
    position: relative;
    width: 1.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid var(--brand);
    transition: 400ms all;
    margin-block-end: 1rem;

    &::before {
        content: '';
        position: absolute;
        inset: 0 50% 0 0;
        border-radius: 50% 0 0 50%;
        background: var(--brand);
    }

    .toggle-theme & {
        rotate: 180deg;
    }
}

@media screen and (max-width: 960px) {

html {
    padding: 0;
}

aside {
    z-index: 10;
    translate: calc(-100% - 1rem) 0;
    box-shadow: 8px 0 16px -8px rgb(0 0 0 / 60%);
    padding-block: 3rem;

    &::after {
        display: none;
    }

    &.active {
        translate: 0;
    }

    .mark {
        width: 2.5rem;
    }

    .nav--primary {
        margin-block: 0;
    }

    .primary__item {
        font-size: 1.25rem;
    }
}

}


@media screen and (max-width: 430px) {

.nav--secondary {
    display: none;
}

}