aside {

    --nav-primary-color: var(--text-body-primary);
    --nav-secondary-color: var(--text-body-secondary);
    --nav-border: var(--divider);

    --nav-primary-font: 800 1rem/1.5 var(--font-title);
    --nav-secondary-font: 300 .875rem/1.375 var(--font-title);
    --nav-legal-font: 300 .75rem/1.375 var(--font-body);

    position: fixed;
    inset: 0 auto 0 0;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    align-items: end;
    gap: 1rem;
    width: 20rem;
    padding: 4rem 3rem;
    background: white;
    text-align: right;

    &::after {
        content: '';
        position: absolute;
        inset: 4rem 0 4rem auto;
        border-right: 1px solid var(--divider);
    }

    .mark {
        width: 3rem;
        fill: var(--brand);
    }

    nav {
        display: flex;
        flex-flow: column;
    }
}


h1 {
    color: var(--text-body-primary);
    font: 700 2rem/1 var(--font-hero);

    small {
        display: block;
        color: var(--text-body-secondary);
        font: 400 .875rem/1 var(--font-body);
    }
}


.nav--primary {
    gap: 1rem;
    margin-block: 1rem;
    
    .nav__item {
        text-decoration: none;
        color: var(--nav-primary-color);
        font: var(--nav-primary-font);
    }
}


.nav--secondary {
    gap: .5rem;
    border-right: 1px solid var(--divider);
    margin-block-start: 1rem;
    padding-inline-end: 1rem;

    .nav__item {
        font: var(--nav-secondary-font);
    }
}

.legal {
    margin-block-start: auto;
    font: var(--nav-legal-font);

    p {
        margin-block-end: 1rem;

        i {
            color: var(--text-body-secondary);
            padding-inline: .75em;
        }
    }

    .fa-stack {
        margin-block-end: .5rem;
    }
}