html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-body);
    font-weight: 400;
    color: var(--text-primary);
    min-height: 100vh;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body {
    position: relative;
    padding-inline-start: 20rem;
}

a:active,
a:focus,
a:hover,
a:visited {
    color: var(--text-link);
}

a:not([href]):hover {
    color: inherit;
}

.hidden {
    display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-hero);
    font-weight: 700;
}

p {
    margin-block-end: .8em;
}

.flex {
    display: flex;
}

* + * {
    margin-block-end: 0;
}