html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-body);
    color: var(--text-primary);
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    position: relative;
    padding-inline-start: 20rem;
}

a:active,
a:focus,
a:hover,
a:visited {
    color: var(--text-link);
}

.hidden {
    display: none !important;
}