html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-family: system-ui, sans-serif;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    position: relative;
    padding-inline-start: 20rem;
}

a:active,
a:focus,
a:hover,
a:visited {
    color: var(--text-link);
}

// * + * {
//     margin-block-end: 0;
// }

.hidden {
    display: none !important;
}