.contact {
    display: grid;
    gap: 2rem;
}

.contact__header {
    margin-block-end: 0;
}

.contact__form {

    --input-border: #B3BBC1;
    --input-border-focused: #00f;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;

    .w100 {
        grid-column: 1 / -1;
    }
}

.form__item {
    position: relative;

    label {
        position: absolute;
        inset: -.5rem auto auto .75rem;
        background: white;
        padding-inline: .5rem;
        font-size: .75rem;
        text-transform: uppercase;

        sup {
            color: red;
        }
    }

    input,
    textarea {
        height: 3rem;
        border-radius: .25rem;
        width: 100%;
        padding-inline: 1rem;
        border: 1px solid var(--input-border);
        transition: 200ms all ease;

        &:focus {
            border-width: 2px;
            border-color: var(--input-border-focused);
        }
    }

    textarea {
        resize: vertical;
    }
}

.contact__footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2rem;

    p {
        font-size: 1rem;
        flex-basis: 100%;
        color: var(--text-secondary);
    }

    a {
        color: var(--text-primary);
        text-underline-offset: .25em;
        text-decoration-size: 1px;
    }
}

.contact__button {
    border-radius: .25rem;
    border: none;
    color: var(--white);
    background: var(--brand-blue);
    padding-inline: 3rem;
    transition: 200ms background ease;
    height: 3rem;

    &:hover {
        cursor: pointer;
        background: color-mix(in lch, var(--brand-blue), var(--brand-navy) 20%);
    }
}

.contact__social {
    position: relative;
    display: flex;
    gap: .25rem;
    text-align: right;

    small {
        position: absolute;
        inset: auto 0 calc(100% + .5rem) auto;
        font-size: .75rem;
    }

    .fa-brands {
        font-size: 2rem;
        width: 2rem;
        aspect-ratio: 1;
        text-align: center;
    }
}