.contact {
    display: grid;
    gap: 2rem;
}


.contact__header {
    margin-block-end: 0;
}


.contact__form {

    --input-border: #B3BBC1;
    --input-border-focused: #00f;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;

    .w100 {
        grid-column: 1 / -1;
    }
}


.form__item {
    position: relative;

    label {
        position: absolute;
        inset: -.5rem auto auto .5rem;
        background: white;
        padding-inline: .5rem;
        font: 400 .75rem/1 var(--font-body);
        text-transform: uppercase;

        sup {
            color: red;
        }
    }

    input,
    textarea {
        height: 3rem;
        border-radius: .25rem;
        width: 100%;
        padding-inline: 1rem;
        border: none;
        box-shadow: inset 0 0 0 1px var(--divider);
        transition: 200ms all ease;

        &:focus {
            outline: none;
            box-shadow: inset 0 0 0 2px var(--brand-blue);
            border-color: var(--input-border-focused);
        }
    }

    textarea {
        padding: 1rem;
    }
}


.contact__footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2rem;

    p {
        font-size: 1rem;
        flex-basis: 100%;
        color: var(--text-secondary);
    }

    a {
        color: var(--text-secondary);
        font-weight: 400;
        text-underline-offset: .25em;
        text-decoration-size: 1px;
        letter-spacing: .01em;

        &:hover {
            color: var(--text-primary);
            text-decoration: none;
        }
    }
}


.contact__button {
    font-weight: 400;
    border-radius: .25rem;
    border: none;
    color: var(--white);
    background: var(--brand-blue);
    padding-inline: 3rem;
    transition: 200ms background ease;
    height: 3rem;

    &:hover {
        cursor: pointer;
        background: color-mix(in lch, var(--brand-blue), var(--brand-navy) 20%);
    }
}


.contact__social {
    position: relative;
    text-align: right;
    margin-inline-start: auto;

    .nav--social {
        display: flex;
        align-items: center;
        gap: .75rem;
        margin-block-start: .5rem;
    }

    .social__item {
        position: relative;
        color: var(--color-greyscale-700);
        transition: 200ms color ease;

        &:hover {
            color: color-mix(in lch, var(--color-greyscale-700), white 25%);
        }
    }

    span {
        font-weight: 400;
        color: var(--text-placeholder);
        position: absolute;
        inset: auto 0 calc(100% + .25rem) auto;
        font-size: .75rem;
        white-space: nowrap;
        margin: 0;
    }

    .fa-brands {
        font-size: 2rem;
        aspect-ratio: 1;
        text-align: center;
    }

    small {
        --tooltip-bg: var(--color-greyscale-900);
        
        position: absolute;
        inset: auto auto calc(100% - .25rem) 50%;
        background: var(--tooltip-bg);
        width: fit-content;
        translate: -50% 0; 
        color: white;
        padding-inline: 1rem;
        padding-block: .5rem;
        border-radius: .25rem;
        box-shadow: 0 0 1rem 0 rgb(0 0 0 / .2);
        opacity: 0;
        visibility: hidden;
        transition: 200ms all ease;

        &::after {
            content: '';
            position: absolute;
            inset: calc(100% - .625rem) auto auto 50%;
            translate: -50% 0;
            width: .75rem;
            aspect-ratio: 1;
            rotate: 45deg;
            background: var(--tooltip-bg);
        }
    }

    a:hover small {
        opacity: 1;
        visibility: visible;
        inset: auto auto calc(100% + .125rem) 50%;
    }
}

// small {
//     .fa-facebook + &  { --tooltip-bg: #3B5998; }
//     .fa-instagram + & { --tooltip-bg: #C32AA3; }
//     .fa-steam + &     { --tooltip-bg: #171A21; }
//     .fa-linkedin + &  { --tooltip-bg: #0A66C2; }
//     .fa-discord + &   { --tooltip-bg: #5865f2; }
//     .fa-lastfm + &    { --tooltip-bg: #BA0000; }
//     .fa-dribbble + &  { --tooltip-bg: #EA4C89; }
//     .fa-github + &    { --tooltip-bg: #222222; }
//     .fa-figma + &     { --tooltip-bg: #1ABCFE; }
//     .fa-spotify + &   { --tooltip-bg: #1DB954; }
//     .fa-gitlab + &    { --tooltip-bg: #E24329; }
// }
