main {
    display: grid;
    margin-inline-start: 20rem;
    gap: 6rem;
}


section {
    display: grid;
    justify-items: center;
    width: 100%;
    margin-inline: auto;

    header {
        margin: 0 auto 2rem;
        max-width: 50rem;
        width: 100%;
    }

    h2 {
        font: 700 2.5rem/1 var(--font-hero);
        color: var(--section-header-color);
    }

    p {
        font: 300 1.125rem/1.8 var(--font-body);
        color: var(--text-body-secondary);

        &:not(:last-of-type) {
            margin-block-end: 1.25em;
        }
    }
}


.section--primary {
    max-width: 70rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
}


.section--secondary {
    margin-block-start: 3.5rem;
    max-width: 50rem;

    h2 {
        font-size: 1.125rem;
    }
}

.section__body {
    display: grid;
    width: 100%;
    margin-inline: auto;

    &.sm { max-width: 50rem; }
    &.md { max-width: 60rem; }
    &.lg { max-width: 70rem; }
}

.rewind {
    display: grid;
    place-items: center;
    height: 100vh;

    a {
        position: relative;
        color: var(--text-body-primary);
        text-decoration: none;
        font-weight: 400;

        &::after {
            content: '';
            position: absolute;
            inset: 100% 0 auto;
            border-bottom: 2px solid var(--divider);
            transition: 200ms all;
        }

        &:hover {
            text-decoration: none;
            color: var(--brand);

            &::after {
                inset: 100% 100% auto 0
            }
        }
    }
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: 2;
    backdrop-filter: blur(8px);
    background: rgb(10 10 10 / 80%);
    opacity: 0;
    visibility: hidden;
    transition: 400ms all;

    aside.active ~ & {
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 1040px) {

    html {
        padding-block-start: 8rem;
    }

    main {
        margin: 0;
    }
}