.proficiencies {
    > header {
        padding-block-end: 4rem;
        border-bottom: 1px solid var(--divider);
    }
}

.tiles {

    --prof-icon: #219ebc;
    --prof-title: #003049;
    --prof-body: var(--text-primary);
    --prof-rating: #fcbf49;

    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 0 2rem;
    // grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-template-columns: repeat(3, 1fr);

    &::after {
        content: '';
        position: absolute;
        z-index: 2;
        inset: 100% 0 auto;
        border: 1px solid white;
    }

    li {
        position: relative;
        z-index: 1;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        gap: 1rem;
        padding-block: 4rem;

        &::after {
            content: '';
            position: absolute;
            inset: 100% auto auto 0;
            width: 2rem;
            border-bottom: 1px solid var(--divider);
        }

        > i {
            color: var(--prof-icon);
        }
    }

    h4 {
        font: 800 1.25rem/1 var(--font-title);
        margin-block-end: .5rem;
        color: var(--prof-title);
    }

    p {
        color: var(--text-primary);
        font: 300 1rem/1.6 var(--font-body);
        margin: 0;
        text-wrap: pretty;
    }

    .rating {
        margin-top: auto;
        display: flex;
        align-items: center;
        gap: .25rem;
    }

    i {
        color: var(--prof-rating);
    }

    small {
        display: grid;
        place-items: center;
        border-radius: 4px;
        padding-inline: .5rem;
        font-size: 75%;
        background: var(--color-greyscale-200);
        color: var(--text-primary);

    }
}

.fa-server.slash {
    position: relative;
    
    &::after {
        content: '';
        position: absolute;
        inset: -1.5rem auto -1.125rem calc(50% - .5rem);
        rotate: 45deg;
        border: 4px solid var(--page-bg);
        background: var(--text-primary);
        border-radius: 1rem;
        width: 1rem;
    }
}

.list--proficiencies {
    position: relative;
    margin-block-start: 2rem;
    padding-block-start: 4rem;
    border-top: 1px solid var(--divider);
    max-width: 50rem;
    margin-inline: auto;

    &::before {
        content: '';
        position: absolute;
        inset: 0 calc(100% + .25rem) 0 auto;
        z-index: 2;
        width: 2rem;
        background: var(--page-bg);
    }

    header {
        h3 {
            font-family: var(--font-title);
        }

        p {
            font-size: .875rem;
        }
    }

    h5 {
        font-family: var(--font-title);
        margin-block-end: .5em;
    }

    ul {
        position: relative;
        left: -2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li {
            position: relative;
            margin-inline-start: 2rem;

            &::before {
                content: '•';
                position: absolute;
                inset: 0 calc(100% + .25rem) 0 auto;
                margin-inline: .5rem;
                color: var(--brand-blue);
                transform: scale(.8);
            }
        }
    }

    &.vertical {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;

        header {
            grid-column: 1 / -1;
            flex-grow: 1;
            margin: 0;
            padding: 0;
            border: none;
        }

        ul {
            display: block;
        }
    }
}

@media screen and (max-width: 720px) {

.tiles {
    grid-template-columns: repeat(2, 1fr);
}

}


@media screen and (max-width: 480px) {

.proficiencies > header {
    border: none;
    padding: 0;
}

.tiles {
    grid-template-columns: 1fr;

    &::after {
        display: none;
    }
    
    li {
        // background: var(--color-greyscale-100);
        border-radius: 1rem;
        // align-items: center;
        padding-block: 4rem;
        // padding-inline: 2rem;
        margin-inline: auto;
        max-width: 358px;
        gap: 2rem;
        // text-align: center;
        
        &::after {
            // left: 50%;
            // translate: -50% 0;
        }

        p {
            font-size: .875rem;
        }

        .rating {
            // display: none;
            position: relative;
            // background: var(--color-greyscale-800);
            // padding: 1rem 2rem;
            // border-radius: 3rem;

            // &::after {
            //     content: '';
            //     position: absolute;
            //     inset: auto auto calc(100% + 1rem) calc(50% - 1rem);
            //     width: 2rem;
            //     border-top: 1px solid var(--divider);
            // }
        }

        h4 {
            margin-block-end: 1em;
        }
    }
}

.list--proficiencies {
    border-top: none;
    padding-block-start: 0;

    ul {
        display: block;
        // list-style-type: disc;
        padding-inline-start: 1.25rem;

        li {
            font-weight: 300;
        }

        li::before {
            // display: none;
        }
    }
}

}