.proficiencies {
    > header {
        padding-block-end: 4rem;
        border-bottom: 1px solid var(--divider);
    }
}

.tiles {

    --prof-icon: var(--brand-pink);
    --prof-rating: var(--brand-navy);

    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

    &::after {
        content: '';
        position: absolute;
        z-index: 2;
        inset: 100% 0 auto;
        border: 1px solid white;
    }

    li {
        position: relative;
        z-index: 1;
        display: flex;
        flex-flow: column;
        gap: 1rem;
        padding-block: 2rem;

        &::after {
            content: '';
            position: absolute;
            inset: 100% auto auto 0;
            width: 2rem;
            border-bottom: 1px solid var(--divider);
        }

        > i {
            color: var(--prof-icon);
        }
    }

    h4 {
        color: var(--text-primary);
        font-size: 1.5rem;
        margin-block-end: .5rem;
    }

    p {
        color: var(--text-secondary);
        font-size: .875rem;
    }

    .rating {
        margin-top: auto;
        display: flex;
        align-items: center;
        gap: .25rem;
    }

    i {
        color: var(--prof-rating);
    }

    small {
        display: grid;
        place-items: center;
        border-radius: 4px;
        padding-inline: .25rem;
        font-size: 75%;
        background: var(--color-greyscale-200);
    }
}

.list--proficiencies {
    margin-block-start: 2rem;
    padding-block-start: 4rem;
    border-top: 1px solid var(--divider);
    max-width: 50rem;
    margin-inline: auto;

    h5 {
        margin-block-end: .5em;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li {

            &::after {
                content: '•';
                margin-inline: .5rem;
                color: pink;
            }
            
            &:last-of-type::after {
                display: none;
            }
        }
    }

    &.vertical {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;

        header {
            grid-column: 1 / -1;
            flex-grow: 1;
            margin: 0;
            padding: 0;
            border: none;
        }

        ul {
            display: block;
        }
    }
}