.list--projects {
    display: flex;
    // grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-block-end: 2rem;

    .project__item {

        .work__item {
            display: block;
            transform: scale(1);
            transition: 400ms all;

            &:hover,
            &:focus {
                transform: scale(.98);
            }
        }
        img {
            width: 100%;
            max-width: 20rem;
        }
    }
}